Repository BF-FrontEnd-class/agile-development-group3-hyf-rebuild, pull requests merged in 2023-05, with the labels that each got.

#11 Definition
  .cspell.json
  README.md
Labels: md

#12 update community plan
  planning/communication.md
Labels: planning, md

#14 add userpersona
  .cspell.json
  README.md
  planning/user-personas.md
Labels: planning

#16 add home design
  planning/design.md
  planning/home-design.png
Labels: planning, md

#21 desing about page
  .cspell.json
  planning/design.md
  public/hyfaboutdesing.png
Labels: md

#22 Backlog volunteer
  .vscode/settings.json
  planning/backlog.md
  planning/design.md
Labels: planning, md

#23 add design
  planning/design.md
  planning/volunteer.png
Labels: planning, md

#27 final version backlog
  planning/backlog.md
Labels: planning

#30 add dev strategy
  planning/development-strategy.md
Labels: planning

#56 update project definition
  README.md
  public/logo.svg
  styles/indexabout.css
Labels: md

#28 Design volunteer
  .cspell.json
  planning/design.md
  planning/volunteerr.png
  planning/vounltteer.png
Labels: planning, md

#62 add to title about
  pages/about.html
  public/community.png
  public/connection.png
  public/diversity-inclusiveness.png
  public/hands-fb.png
  public/strong.png
  styles/about.css
  styles/index.css
Labels: html, css, about

#63 add home description
  .vscode/settings.json
  README.md
  index.html
  public/image/Bruxelles-Formation_logo.png
  public/image/DCD_logo.png
  public/image/DSJC-Member.png
  public/image/EPITECH.png
  public/image/UXAntwerp_logo.png
  public/image/agoria.png
  public/image/antwerp-stad.jpeg
  public/image/artevelde-hogeschool.svg
  public/image/bruxelles-emploi.svg
  public/image/commitment.svg
  public/image/community.svg
  public/image/digital-belgium.svg
  public/image/diversity-inclusiveness.svg
  public/image/duo_logo.png
  public/image/home-banner.jpeg
  public/image/home-description.jpeg
  public/image/microsoft.svg
  public/image/open.svg
  public/image/print-simple.svg
  public/image/téléchargement (2).png
  public/image/vbo (1).png
  public/logo.svg
  styles/home.css
  styles/index.css
  styles/utilities.css
Labels: html, css, developement

#67 add contact
  .cspell.json
  index.html
  public/image/logo-.png
  public/image/print-simple-c628b304b936bf3cd9b5dc82a215ae3e.svg
  public/image/vbo_feb.png
  styles/home.css
  styles/utilities.css
Labels: home

#71 update home :map
  index.html
  styles/home.css
Labels: home

#73 add donate
  index.html
  public/image/ART.png
  public/image/banner.avif
  public/image/banner.jpeg
  public/image/banner.png
  public/image/banner.webp
  public/image/program.jpeg
  styles/home.css
Labels: home

#75 update map
  index.html
  public/image/agoria.png
  styles/home.css
Labels: home

#80 update home
  README.md
  index.html
  public/image/Ag.png
  public/image/WEB-site.png
  public/image/aliance.png
  styles/home.css
Labels: home
